.button_table{

border:0px solid #999999; -webkit-border-radius: 23px;
-moz-border-radius: 23px;border-radius: 23px;
 font-size:14px;
 font-family:courier new, courier, monospace;
 padding: 10px 10px 10px 10px;
 padding-left: 0.5cm;
 padding-right: 0.5cm;
 text-decoration:none;
text-align: center;
display:inline-block;
 text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
 font-weight:bold;
  color: #000000;
 background-color: #FFFFFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
 background-image: -webkit-linear-gradient(top, #FFFFFF, #CFCFCF);
 background-image: -moz-linear-gradient(top, #FFFFFF, #CFCFCF);
 background-image: -ms-linear-gradient(top, #FFFFFF, #CFCFCF);
 background-image: -o-linear-gradient(top, #FFFFFF, #CFCFCF);
 background-image: linear-gradient(to bottom, #FFFFFF, #CFCFCF);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#CFCFCF);
}

.button_table:hover{
 border:0px solid #7A7A7A;
 background-color: #e6e6e6; 
 background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#b6b6b6));
 background-image: -webkit-linear-gradient(top, #e6e6e6, #b6b6b6);
 background-image: -moz-linear-gradient(top, #e6e6e6, #b6b6b6);
 background-image: -ms-linear-gradient(top, #e6e6e6, #b6b6b6);
 background-image: -o-linear-gradient(top, #e6e6e6, #b6b6b6);
 background-image: linear-gradient(to bottom, #e6e6e6, #b6b6b6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e6e6e6, endColorstr=#b6b6b6);
}

#butonase
{
	padding-top: 0.5cm;
}

table, th, td {
    border: 1px solid black;
}

.button_example{
border:1px solid #4B546A;
-webkit-border-radius: 0px 50px 0px 26px;
-moz-border-radius: 0px 50px 0px 26px;
border-radius: 0px 50px 0px 26px;
font-size:14px;
font-family:times new roman, times, serif; 
padding: 10px 20px 10px 10px; 
text-decoration:none; 
display:inline-block;
font-weight:bold;
 color: #FFFFFF;
 background-color: #D3D3D3; 
 background-image: -webkit-gradient(linear, left top, left bottom, from(#D3D3D3), to(#707070));
 background-image: -webkit-linear-gradient(top, #D3D3D3, #707070);
 background-image: -moz-linear-gradient(top, #D3D3D3, #707070);
 background-image: -ms-linear-gradient(top, #D3D3D3, #707070);
 background-image: -o-linear-gradient(top, #D3D3D3, #707070);
 background-image: linear-gradient(to bottom, #D3D3D3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#D3D3D3, endColorstr=#707070);
}

.button_example:hover{
 border:0px solid #4B546A;
 background-color: #bababa; 
 background-image: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#575757));
 background-image: -webkit-linear-gradient(top, #bababa, #575757);
 background-image: -moz-linear-gradient(top, #bababa, #575757);
 background-image: -ms-linear-gradient(top, #bababa, #575757);
 background-image: -o-linear-gradient(top, #bababa, #575757);
 background-image: linear-gradient(to bottom, #bababa, #575757);
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
}

#formBox
{
	padding-bottom: 0.5cm;
}
