body
{
background-image: url(bkg.png), #b2b2b2;
    background-repeat: repeat-x, repeat;
    padding: 15px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-9 */


font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
}

header
{

    height:200px;
}
header #title
{
    background: url("title.png") no-repeat;
    
    height:200px;
    width:90%;
    margin:0 auto;

}
main
{
    min-height:200px;
    margin:0 auto;
    width:80%;
    margin-top:50px;
}
main section:first-child
{
    height:100px;

}
main #formBox
{
   padding-left: 50px;
    width: 700px;
    margin: 10px;
   /* position: absolute;*/

}
main #formBox .img  img
{
    width:80px;
}

footer
{

    height:200px;
}

div.img {
    margin: 5px;
    padding: 5px;
   /* border: 1px solid #0000ff;*/
    
    width: 200px;
    float: left;
    text-align: center;
}   

div.img img {
    display: inline;
    margin: 5px;
   /* border: 1px solid #ffffff;*/
}

div.img a:hover img {
    /*border: 1px solid #0000ff;*/
}
#left
{
    width:20%;
    min-height:300px;
    float:left;


}
#right
{
    width:80%;
    height:300px;

    float:right;


}
span
{
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    padding-left: 0.41cm;
}

