body
{
 background: url("images/bkg.png") repeat-x;   
font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
}

header
{

    height:200px;
}
header #title
{
    background: url("images/title.png") no-repeat;
    
    height:200px;
    width:90%;
    margin:0 auto;

}
main
{
    height:200px;
}
main section:first-child
{
    height:100px;

}
main #formBox
{
   
    width:450px;
    height:250px;
    margin:0 auto;
     border-radius: 10px;

}

#error
{
    margin:0 auto;
    width:235px;
}
ul{
    text-align: center;
}

#mesaj
{
    font-weight: bold;
}
main #formBox #allForm .button
{
    background: url("images/button.png") repeat-x;
    height:40px;
    color:gray;
    font-size: 20px;
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    border-radius: 10px;
    padding-right: 10px;
 }
main #formBox .button
{
   background: url("images/button.png");
   width:100px;
}
main #formBox #inre
{
     width:170px;
    margin-left: 40px;
}
footer
{

    height:200px;
}

